$contentBackground: #21232e;
$headerImage:"m-h-night.jpg";
$highlightText: #ff4e33;
$colorButton:#e3ac00;
$containerBackground: #3b3f50;
$gradientColorTo:$highlightText;
$gradientColorFrom:$colorButton;
$headerColor:white;