$contentBackground: #fff;
$headerImage:"m-h-day.jpg";
$highlightText: #14a0c7;
$colorButton:#699900;
$containerBackground: #21232e;
$gradientColorTo:$highlightText;
$gradientColorFrom:$colorButton;
$headerColor:#2c2f3c;